<!--шрифты-->
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Raleway:ital,wght@0,400;1,300&display=swap');

body{
	background-color: #f2f2f2;
	font-family: "Open Sans";
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;  <!-- даже при увелич. шрифт будет гладким-->
	-webkit-overflow-scrolling: touch;
	margin-top: 70px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans";
	font-weight: 400;
	color: #333;
}
p{
	line-height: 28px;
	margin-bottom: 25px;
}
.centered{
	text-align: center;
}
a{
	color: #f85c37;   
}
<!--при наведении на ссылку и при сокусировке-->
a:hover, a:focus{
	color: #7b7b7b;
	text-decoration: none;   <!-- никаких подчеркиваний, ничего-->
	outline: 0;  <!-- граница-->
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0; 
}
.navbar{
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-inverse{
	background: #2d2d2d;    <!-- серый-->
	border-color: #2d2d2d;
}
.navbar-inverse .navbar-brend{
	color: #999;      <!-- серый-->
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
	text-decoration: none;
}
nav{
	float: right;
}
.menu{
	margin: 0;
	padding: 0; 
	display: block;
}
.menu li{
	float: left;
	display: block;
	margin-right: 41px; 
}
.menu a{
	color: #f0edf4;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: lighter;
}

#headerwrap{
	background: url(../img/home-banner.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;

	-webkit-background-size: cover;  <!-- что бы выглядело на всех устройствах одинаково-->
}
#headerwrap h2{
	margin-top: 200px;
	color: #f0edf4;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
}
#headerwrap h1{
	color: #f0edf4;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
}
#clock{
	font-weight: bolder;
	text-align: right;
}

#lg p{
	text-align: center;
}
#lg h4{
	margin-top: 40px;
	text-align: center;
	font-weight: bolder;
}
#lg img{
	margin-right: 50px;
}
.offer{
	margin-top: 90px;
}
table{
	margin-top: -290px;
}

table tr.marked{
    background-color: #999; 
}

/* Projects Area css
============================================================================================ */
.projects_item {
  position: relative;
  overflow: hidden; }
  .projects_item img {
    width: 100%; 
    
}
  .projects_item .hover {
    position: absolute;
    left: 0px;
    bottom: -100%;
    background: #faba00;
    width: 100%;
    padding: 36px;
    transition: all 400ms ease; }
    .projects_item .hover h4 {
      color: #222222;
      text-transform: uppercase;
      font-size: 18px; }
    .projects_item .hover p {
      color: #222222;
      max-width: 570px;
      margin-bottom: 0px; }
  .projects_item:hover .hover {
    bottom: 0px; }

.wd_18 {
  flex: 0 0 18.23%;
  max-width: 18.23%; }

.wd_44 {
  flex: 0 0 45.31%;
  max-width: 45.31%; }

/* End Projects Area css
============================================================================================ */
/* ----------------
Hero section
 -------------------*/

.property-section {
	padding-bottom: 52px;
}

.property-section .section-title {
	margin-bottom: 90px;
}
.property-section h2{
	margin-top: 100px;
	margin-left: 10px;
	text-align: center;
}

.property-section button{
	margin-left: 260px;
	margin-top: -90px;
}
.property-item {
	margin-bottom: 55px;
}

.property-item img {
	min-width: 100%;
	margin-right: 20px;
}
.property-item .img-fluid{
	max-width: 50%;
	height: auto;
}
.property-item .pi-image {
	position: relative;
	margin-bottom: 35px;
}

.property-item .pi-badge {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 87px;
	padding: 13px 10px 0;
	height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.property-item .pi-badge.new {
	background: #ff000a;
}

.property-item .pi-badge.offer {
	background: #ffba00;
}

.property-item h3 {
	margin-bottom: 10px;
}

.property-item h5 {
	margin-bottom: 25px;
}

.property-item p {
	margin-bottom: 20px;
}
.about_inner{
	margin-top: 160px;
	margin-bottom: 80px;
}
.about_area h6{
	font-size: 12px;
	text-transform: uppercase;
	color: #676767;
	font-family: "Lato", sans-serif;
	padding: 5px 0 15px;
}
.about_area h3{
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 15px;
}
.about_area h5{
	font-weight: bold;
}
/*--  Риелторы   --*/
.team-section .img-fluid{
	max-width: 90%;
	height: auto;
}

.team-member img {
	min-width: 100%;
}

.team-member:hover .member-pic:after {
	opacity: 0.5;
}

.team-member:hover .member-pic .member-social a {
	margin: 0 4px;
	bottom: 0;
	opacity: 1;
}

.member-pic {
	position: relative;
}

.member-pic:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, #30caa0));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #30caa0 80%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #30caa0 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#30caa0', GradientType=0);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.member-pic .member-social {
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 0;
	text-align: center;
	z-index: 1;
}

.member-pic .member-social a {
	width: 30px;
	height: 30px;
	background: #fff;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	color: #707070;
	margin: 0 10px;
	padding-top: 6px;
	position: relative;
	bottom: -20px;
	opacity: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.member-pic .member-social a:hover {
	color: #30caa0;
}

.member-info {
	padding: 28px 30px;
	-webkit-box-shadow: 0 5px 25px rgba(216, 216, 216, 0.2);
	        box-shadow: 0 5px 25px rgba(216, 216, 216, 0.2);
}

.member-info h5 {
	font-weight: 400;
}

.member-info span {
	font-size: 14px;
	color: #707070;
}

.member-info .member-contact {
	margin-top: 16px;
	padding-top: 16px;
	position: relative;
}

.member-info .member-contact:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 1px;
	top: 0;
	left: 0;
	background: #ebebeb;
}

.member-info .member-contact p {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.8;
}
/*--  Риелторы  --*/

.contact_area{
	margin-top: 150px;
	margin-bottom: 30px;
}
.contact_area .feature_block{
	padding-left: 20px;
}

canvas{
	display: block;
}

footer h2{
	color: #f0edf4;
	text-align: center;
	margin-left: 5px;
}
footer p{
	color: #f0edf4;
	text-align: center;
}
footer i{
	color: #f0edf4;
	text-align: center;
	margin-right: 40px; 
}
